.StoneCard {
    margin: 14px 10px 0;
    padding: 0 10px;
    border-radius: 5px;
    width: auto;
    height: 25px;
    background: #cacaca;
    text-align: center;
    span {
        color: #383e49;
        font-size: 20px;
        font-weight: bolder;
    }
}