.Repository {
    // margin: 5px 0;
    border-top: 1px solid #cacaca;
    padding: 15px 20px;
    width: 100%;
    height: 130px;
    cursor: pointer;
    text-align: left;
    transition: .2s;
    &:hover {
        height: 135px;
        background: rgba(0, 0, 0, .2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .8);
    }
    &-Content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-Title {
            a {
                font-size: 30px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            p {
                margin-bottom: 2px;
            }
            p:first-child {
                font-size: 30px;
            }
        }
        &-Info {
            display: flex;
            p {
                margin-right: 6px;
            }
        }
    }
}

body::-webkit-scrollbar {
    width: 8px;
    background: rgba(0, 0, 0, .6);
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .4);
}