.Badge {
    border-radius: 10px;
    padding: 0 16px;
    width: auto;
    height: 32px;
    background: rgba(255, 255, 255, .2);
    display: grid;
    place-items: center;
    & > span {
        height: auto;
        font-size: 24px;
        font-weight: bold;
    }
}