.Profile {
    margin: 0 auto;
    width: 100%;
    display: flex;
    &-Image {
        width: 180px;
        img {
            border-radius: 50%;
        }
    }
    &-Info {
        padding: 0 20px;
        text-align: left;
        & > div {
            margin-bottom: 6px;
        }
        &-Name {
            display: flex;
            & > span {
                padding-right: 10px;
                font-size: 32px;
            }
        }
        &-Follow {
            display: flex;
            & > span {
                margin: 0 5px;
            }
        }
    }
}