.Profile {
    margin: 0 auto;
    width: 100%;
    display: flex;
    grid-area: Profile;
    &-Image {
        width: 160px;
        img {
            border-radius: 50%;
            width: 100%;
        }
    }
    &-Info {
        padding: 0 20px;
        width: calc(100% - 160px);
        text-align: left;
        & > div {
            margin-bottom: 6px;
        }
        &-Name {
            display: flex;
            align-items: center;
            & > span {
                padding-right: 10px;
                width: auto;
                font-size: 32px;
            }
        }
        &-Follow {
            display: flex;
            & > button {
                width: auto;
                background: inherit;
            }
            & > span {
                margin: 0 5px;
                width: auto;
            }
        }
    }
}