.RepositoryList {
    & > p {
        margin-top: 20px;
        font-size: 20px;
    }
    &-Wrap {
        width: 100%;
        &-Info {
            margin: 10px 0;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            select {
                border-radius: 10px;
                padding: 0 15px;
                width: 180px;
                height: 40px;
                background-color: rgba(255, 255, 255, .2);
                cursor: pointer;
                font-size: 15px;
                &:hover {
                    background-color: rgba(255, 255, 255, .1);
                }
                option {
                    background-color: #5e6268;
                }
            }
            span {
                width: auto;
            }
        }
    }
}